body
	font-size 16px
	line-height 18px
	font-family Arial

dropZone
	position relative
	display block

	&.dropped
		.background
			preview
				display block
			.drop-block
				display none

	.background
		display block
		position absolute
		left 50%
		top 50% 

		preview
			display none

		.image-container,
		.drop-block
			position absolute
			overflow hidden

			.hover
				background #905E79

		.drop-block
			display block
			-webkit-box-sizing border-box
			-moz-box-sizing border-box
			box-sizing border-box
			color #fff
			font-size 36px
			line-height 45px
			text-align center

			background #294252
			
		.image-container
			img
				width 100%


		.download
			position absolute
			right 22px
			top 22px
			border-radius 5px
			color #fff
			background #3289CD

			font-size 22px
			text-decoration none
			text-transform uppercase
			font-weight bold
			line-height 72px
			padding 0 54px

			&:hover
				background #2FB073

			&:before
				content '⇓'

			span
				position absolute
				right  10px
				top 10px
				font-size 14px
				line-height 18px


