%template_1
  %dropZone
    .background
      .drop-block
        Drop Image here
      %preview
        .image-container
          %img{"data-name" => "userImage"}
        %a.download{:href => "#"}
          Download
          %span .png