dropZone

	.background
		width 600px
		height 450px
		margin-left -300px
		margin-top -225px
		background url(back.jpg) no-repeat left top

		.image-container,
		.drop-block
			left 127px
			top 54px
			width 150px
			-webkit-transform perspective(2200px) rotateX(34deg) rotateY(21deg) rotateZ(-29deg)
			-moz-transform perspective(2200px) rotateX(34deg) rotateY(21deg) rotateZ(-29deg)
			transform perspective(2200px) rotateX(34deg) rotateY(21deg) rotateZ(-29deg)
			height 307px

		.drop-block
			padding-top 70px
